/* Tailwind CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Angular Material Theme */
@import '@angular/material/prebuilt-themes/azure-blue.css';

/* Global Styles */
* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
